div.action-caption {
	display: flex;
	flex-direction: row;
	margin-right: 0.3em;
}

div.action-caption::after {
	content: ":";
}

div.action-links {
	display: flex;
	flex-direction: column;
}

div.action-row {
	display: flex;
	flex-direction: row;
}
