div.npcSliderClass {
	width: 130px;
	display: inline-block;
	margin-right: 15px;
	margin-left: 10px;
	top: -3px;
}

div.npcSliderWidget {
	margin-right: 5px;
	display: inline-block;
}

div.npcWorkshopLabel {
	font-size: smaller;
	font-weight: bold;
	color: yellow;
	display: inline-block;
	width: 90px;
	overflow: hidden;
	height: 20px;
}

div.npcWorkshopValue {
	font-size: smaller;
	font-weight: bold;
	color: yellow;
	display: inline-block;
	width: 35px;
	overflow: hidden;
	text-align: right;
}

div.npcWorkshopHeader {
	width:100%;
	margin-bottom:10px;
	padding-left:20px;
	font-weight:bold;
	color:white;
}

#npcGeneralHeader {
	background-color: maroon;
	display:inline-block;
}

#npcEquipHeader {
	background-color: steelblue;
	display:inline-block;
}

#npcFaceHeader {
	background-color: seagreen;
	display:inline-block;
}

#npcEyeHeader {
	background-color: indigo;
	display:inline-block;
	width: 580px;
}

#npcDataHeader {
	background-color: indianred;
	display:inline-block;
}

span.npcExitLink {
	float: right;
	margin-right: 50px;
}

span.npcExitLink a {
	color:white !important;
}

select.NPCDropDown {
	width: 190px;
}

div.NPCDropDown {
	margin-bottom: 10px;
}

textarea.npcScrollText {
	height:400px;
	width:100%;
	overflow:scroll;
}

div.npc-controls {
	margin-left: 1ex;
}

div.npc-workshop-header {
	display: grid;
	grid-template-columns: 270px 1fr;
	width: 100%;
	padding: 1.5rem;
	color: gold;
	font-weight: bold;
}

div.npc-workshop-section {
	margin-top: 1ex;
	display: grid;
	grid-template-columns: 270px 1fr;
}
