div.scene-past-fragments {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

button.scene-past-cover {
	cursor: pointer;
	width: 100%;
	height: 3ex;
	margin-bottom: 1ex;
	border: none;
	text-align: left;
	outline: none;
	visibility: hidden;
}

button.scene-past-cover:after {
	content: '\25BE';
	font-weight: bold;
	float: right;
	margin-left: 0.1em;
  }

button.scene-past-cover-active::after {
	content: '\25B4';
}

button.scene-past-cover:hover {
}
